@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/autoplay';

.my-swiper {
  height: 90vh;
}

.swiper-slide-container {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background: #fff;
height: 100%;
max-width: 600px;
margin: auto;
border-radius: 20px;
}